<template name="room">
    <div class="row">
        <div class="col s3">
            <a class="btn-floating btn-large waves-effect waves-light red" href="/lobby">
                <i class="mdi-navigation-arrow-back"></i>
            </a>
        </div>
        <div class="col s6">
            <ul class="collection">
                {{#each messages}}
                    <li class="collection-item"><strong>{{name}}:</strong> {{msg}}</li>
                {{/each}}
            </ul>
            {{> addMessageForm}}
        </div>

    </div>
</template>

<template name="addMessageForm">
    <div class="row">
        <form class="col s12 js-add-room">
            <div class="row">
                <div class="input-field col s9">
                    <input id="message" type="text" class="validate">
                    <label for="message">Write message</label>
                </div>
                <div class="input-field col s3">
                    <button class="btn waves-effect waves-light" type="submit">Send</button>
                </div>
            </div>
        </form>
    </div>
</template>